{#导航条的父模板#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-海洋数据共享平台</title>
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <link href="{{ url_for('static',filename='css/carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
{#    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">#}
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
{#背景图片#}
<div id="web_bg">

</div>
{#    导航条#}
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">海洋数据共享平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active index_active"><a href="{{ url_for('index') }}">首页</a></li>
                <li class="data_active"><a href="/data">数据服务</a></li>
                <li><a href="/IndexCollect">潮汐预报</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    {% block main %}

    {% endblock %}

{#        底部固定footer#}
{#      <div class="container">#}
{#      <!-- Example row of columns -->#}
{#           <footer>#}
{#                <p>&copy; 2019 海洋数据共享平台</p>#}
{#           </footer>#}
{#      </div>#}

    {% block script %}

    {% endblock %}
</body>
</html>