{#{% extends "bootstrap/base.html"  %}#}
{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{#页面主体内容#}
{% block main %}
      <div id="myCarousel" class="carousel slide carousel_bottom" data-ride="carousel">

    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          {% for banner in banners %}
                  {% if banner.id == 1 %}
                       <div class="item active">
                  {% else %}
                       <div class="item">
                  {% endif %}

              <img  src="{{ banner.route }}"  >
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ banner.main_title }}</h1>
                 <p>{{ banner.vice_title_one }}</p>
                  <p>{{ banner.vice_title_two }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ banner.button_link }}" role="button">查看数据</a></p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
          </div>
    <!-- /.carousel -->

    <div class="container marketing bottom_panel" style="margin-top: 0px;padding-top: 20px">
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
{#          <div class="col-sm-6 col-md-4">#}
{#            <div class="thumbnail">#}
{#              <img src="/static/images/now_data.jpg" alt="Generic placeholder thumbnail">#}
{#              <div class="caption">#}
{#                <h3>实况分析数据</h3>#}
{#                <p>西北太平洋实况分析产品的海区范围为99°E～150°E，10°S～52°N，空间水平网格分辨率为0.125°，垂向为标准层。</p>#}
{#                <p>产品要素包括：三维温度、盐度、密度、声速和地转流，更新频率为日更新。</p>#}
{#                <p class="text-right"><a href="#" class="btn btn-default" role="button">查看数据</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-md-4">#}
{#            <div class="thumbnail">#}
{#              <img src="/static/images/again_data.jpg" alt="Generic placeholder thumbnail">#}
{#              <div class="caption">#}
{#                <h3>再分析数据</h3>#}
{#                <p>西北太平洋再分析产品的海区范围为99°E～150°E、10°S～52°N，空间水平网格分辨率为0.5°×0.5°、垂向为35层。</p>#}
{#                  <p>产品要素包括：海面高、盐度和海流，时间范围为1958年1月至2017年12月，时间分辨率为月平均。</p>#}
{#                <p class="text-right"><a href="#" class="btn btn-default" role="button">查看数据</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-md-4">#}
{#            <div class="thumbnail">#}
{#              <img src="/static/images/statistics_data.jpg" alt="Generic placeholder thumbnail">#}
{#              <div class="caption">#}
{#                <h3>统计分析数据</h3>#}
{#                <p>统计分析数据包括海洋温盐统计和海洋气象统计分析数据，海洋温盐统计数据时间范围为1981-2010年，包括累年月平均和累年季平均的不同层深数据。</p>#}
{#                <p>产品要素包括：海表温度、海面气温和海面气压，空间分辨率为1°*1°，时间分辨率为累年逐月平均。</p>#}
{#                <p class="text-right"><a href="#" class="btn btn-default" role="button">查看数据</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
        </div>
    </div><!-- /.bs-example -->

    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
          <div class="col-sm-6 col-md-4">
               <div class="panel  panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            最新数据
                        </h3>
                    </div>
                            <ul class="list-group">
                                {% for data in data_all_new %}
                                     {% if loop.index < 6 %}
                                          <li class="list-group-item">
                                            <span >
                                                <a href="{{ url_for('download',filename=data.data_name+data.data_format ) }}">
                                                    <img src="/static/images/download_no.png" class="down_icon" onMouseOver="this.src='/static/images/download_yes.png'" onMouseOut="this.src='/static/images/download_no.png'" />
                                                </a>
                                            </span>
{#                                         因为需要展示更新的数据文件所在的数据集，所以拿到数据文件的id需要反查所在数据集的id，传到页面进行跳转#}
{#                                            根据查到数据的表名不同跳转到不同的链接，一个跳转到水文的总展示页，一个调到生物的总展示页#}
                                              {% if data.__tablename__ == "organism_data" %}
                                                  <a href="{{ url_for('organism_one',marine_organism_id=data.uid_organism ) }}">
                                                {% elif data.__tablename__ == "hydrology_data" %}
                                                  <a href="{{ url_for('hydrology_one',marine_hydrology_id=data.uid_hydrology ) }}">
                                                {% elif data.__tablename__ == "chemistry_data" %}
                                                  <a href="{{ url_for('chemistry_one',marine_chemistry_id=data.uid_chemistry ) }}">
                                              {% endif %}
                                                {{ data.data_name }}
                                                  </a>
                                          </li>
                                     {% endif %}
                                 {% endfor %}
                            </ul>
                   <div class="panel-footer footer_more text-right text-info"><a href="http://127.0.0.1:5000/data" class="btn-link" >查看更多>></a></div>
               </div>
          </div>
          <div class="col-sm-6 col-md-4">
               <div class="panel  panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            热门数据
                        </h3>
                    </div>
                            <ul class="list-group">
                                 {% for data in data_all_down %}
                                     {% if loop.index < 6 %}
                                          <li class="list-group-item">
                                            <span >
                                                <a href="{{ url_for('download',filename=data.data_name+data.data_format ) }}">
                                                    <img src="/static/images/download_no.png" class="down_icon" onMouseOver="this.src='/static/images/download_yes.png'" onMouseOut="this.src='/static/images/download_no.png'" />
                                                </a>
                                            </span>
{#                                         因为需要展示更新的数据文件所在的数据集，所以拿到数据文件的id需要反查所在数据集的id，传到页面进行跳转#}
{#                                            根据查到数据的表名不同跳转到不同的链接，一个跳转到水文的总展示页，一个调到生物的总展示页#}
                                              {% if data.__tablename__ == "organism_data" %}
                                                  <a href="{{ url_for('organism_one',marine_organism_id=data.uid_organism ) }}">
                                                {% elif data.__tablename__ == "hydrology_data" %}
                                                  <a href="{{ url_for('hydrology_one',marine_hydrology_id=data.uid_hydrology ) }}">
                                                   {% elif data.__tablename__ == "chemistry_data" %}
                                                  <a href="{{ url_for('chemistry_one',marine_chemistry_id=data.uid_chemistry ) }}">
                                              {% endif %}
                                                {{ data.data_name }}
                                                  </a>
                                          </li>
                                     {% endif %}
                                 {% endfor %}
                            </ul>
                   <div class="panel-footer footer_more text-right text-info"><a href="http://127.0.0.1:5000/data" class="btn-link" >查看更多>></a></div>
               </div>
          </div>
          <div class="col-sm-6 col-md-4">
               <div class="panel  panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            资讯动态
                        </h3>
                    </div>
{#                    <div class="panel-body"></div>#}
                            <ul class="list-group">
                                  {% for article in articles %}
                                      <li class="list-group-item">
                                            <a href="{{ url_for('article_one',article_id=article.id ) }}">
                                                 [{{ article.type }}] {{ article.title }}...
                                            </a>
                                      </li>
                                  {% endfor %}
                            </ul>
                  <div class="panel-footer footer_more text-right text-info"><a href="http://127.0.0.1:5000/article_all/list/1/0" class="btn-link" >查看更多>></a></div>
               </div>
          </div>
        </div>
    </div><!-- /.bs-example -->

    </div>
{% endblock %}

{#script资源文件#}
{% block script %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}