{% extends 'base.html' %}
{% import "page.html" as pg %}
{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{#页面主体内容#}
{% block main %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../static/images/login.png"
                     id="icon" alt="User Icon"/>
            </div>

            <!-- Login Form -->
            <form method="post" action="{{ url_for('login') }}">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="账号">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="密码">
                <input type="submit" id="submit" class="fadeIn fourth" value="立&nbsp;即&nbsp;登&nbsp;录">
            </form>
            <div id="tip_username"></div>
            <div id="tip_password"></div>
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>警告！</strong>您输入的账号或密码有误！
            </div>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{{ url_for('register') }}">点&nbsp;&nbsp;击&nbsp;&nbsp;注&nbsp;&nbsp;册</a>
            </div>

        </div>
    </div>

{% endblock %}

{#script资源文件#}
{% block script %}
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        {#下面这两个变量用来判断是否警告框已经出现#}
        if_show1 = 0;
        if_show2 = 0;
        {#移除base.html顶部栏的index页面的选中效果，添加data页面的选中效果#}
        $(".index_active").removeClass("active")
        $(".article_active").removeClass("active");
        $(function () {
            {#如果是第一次打开页面，那传回来的值就不一样，就要把提示框关掉#}
            if (!{{ state }}) {
                $('.close').alert('close');
            }

        });
        $('#submit').click(function (e) {
            username1 = $("#username").val();
            password1 = $("#password").val();
            {#如果两个值都填写了，那么就直接跳转#}
            if (username1 && password1) {
                return value == true
            }
            {#如果密码没有填写，那么就出现提示框#}
            if (password1 == "" && if_show2 == 0) {
                var item = '<div class="alert alert-info">' +
                    '<a href="#" class="close" data-dismiss="alert">' +
                    '&times;' +
                    '</a>' +
                    '<strong>警告！</strong>请输入密码！' +
                    '</div>'
                $("#tip_username").html(item);
                if_show2 = 1;
                {#开启提示框的关闭功能#}
                $('.alert').alert();
                {#关闭提示框时，进行重置操作#}
                $(".alert").bind('closed.bs.alert', function () {
                    if_show2 = 0;
                });
                e.preventDefault();
            }
            {#如果用户名没有填写，那么就出现提示框#}
            if (username1 == "" && if_show1 == 0) {
                var item = '<div class="alert alert-info">' +
                    '<a href="#" class="close" data-dismiss="alert">' +
                    '&times;' +
                    '</a>' +
                    '<strong>警告！</strong>请输入用户名！' +
                    '</div>'
                $("#tip_username").html(item);
                if_show1 = 1
                {#开启提示框的关闭功能#}
                $('.alert').alert();
                {#关闭提示框时，进行重置操作#}
                $(".alert").bind('closed.bs.alert', function () {
                    if_show1 = 0;
                });
                e.preventDefault();
            }
            e.preventDefault();
        });
    </script>
{% endblock %}