{#{% extends "bootstrap/base.html"  %}#}
{% extends 'base.html' %}
{% block title %}
    海洋生物
{% endblock %}

{% block head %}
    <link href="{{ url_for('static',filename='css/marine_organism.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
{#        页面主体的所有内容都放在下面的container里面#}
  <div class="container marketing bottom_panel" >
{#            顶部标题#}
            <div class="page-header">
              <h1>海洋生物数据集</h1>
                <p>海洋生物数据集覆盖美国近海、日本东部、爱尔兰、澳大利亚等海域，包括浮游动物、浮游植物、初级生产力、鱼类、贝类等数据。</p>
            </div>
{#            根据输入条件搜索内容#}
            <form class="form-inline" action="{{ url_for('marine_organism') }}" method="post">
              <div class="form-group">
                   <label for="exampleInputName2">关键字检索：</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入关键字" name="key_word">
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">查询</button>
            </form>


{#        数据集的展示页面#}
        <div class="row panel_bottom">
{#        循环展示数据块#}
             {% for marine_organism in marine_organisms %}
          <div class="col-sm-6 col-md-6">
            {#            用面板将一个数据块装起来#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                      <div class="media-left">
                          <img class="media-object data_img" src="{{ marine_organism.route }}" alt="Generic placeholder image">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading text-primary">{{ marine_organism.data_set_name }}</h4>
                        <p>数据集大小：{{ marine_organism.data_set_size }}</p>
                        <p>数据集来源：{{ marine_organism.data_set_source }}</p>
                        <p><a class="btn btn-primary btn-sm see_data_btn " href="{{ url_for('organism_one',marine_organism_id=marine_organism.id) }}" role="button">查看数据</a></p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
             {% endfor %}
        </div>
{#        数据集分页#}
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>
{% endblock %}
{#script资源文件#}
{% block script %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}