{#{% extends "bootstrap/base.html"  %}#}
{% extends 'base.html' %}
{% import "page.html" as pg%}
{% block title %}
    海洋水文
{% endblock %}

{% block head %}
    <link href="{{ url_for('static',filename='css/marine_hydrology.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    {#        页面主体的所有内容都放在下面的container里面#}
  <div class="container marketing bottom_panel" >
{#            顶部标题#}
            <div class="page-header">
              <h1>海洋水文数据集</h1>
                <p>通过台站、浮标、调查船等观测手段获取的海洋水文数据，覆盖全球海域，主要包括温度、盐度、波浪、水位及海流等要素。</p>
            </div>
{#            根据输入条件搜索内容#}
            <form class="form-inline" action="{{ url_for('marine_hydrology',page=1,state=1) }}" method="post">
              <div class="form-group">
                   <label for="exampleInputName2">关键字检索：</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入关键字" name="hydrology_key_word">
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">查询</button>
            </form>
{#        数据集的展示页面#}
  <div class="row panel_bottom">
{#        循环展示数据块#}
        {% for marine_hydrology in marine_hydrologys.items %}
          <div class="col-sm-6 col-md-6">
{#                        用面板将一个数据块装起来#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                      <div class="media-left">
                          <img class="media-object data_img" src="{{ marine_hydrology.route }}" alt="Generic placeholder image">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading text-primary">{{ marine_hydrology.data_set_name }}</h4>
                        <p>数据集大小：{{ marine_hydrology.data_set_size }}</p>
                        <p>数据集来源：{{ marine_hydrology.data_set_source }}</p>
                        <p><a class="btn btn-primary btn-sm see_data_btn "
                              href="{{ url_for('hydrology_one',marine_hydrology_id=marine_hydrology.id) }}"
                              role="button">
                            查看数据
                            </a>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        {% endfor %}
  </div>

{#数据集分页功能通过pg挂载page.html页面，引入分页控制器#}
{{ pg.page(marine_hydrologys,'marine_hydrology',state) }}


</div>
{% endblock %}
{#script资源文件#}
{% block script %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}